<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.base}/logs/computer-database.log</file>
        <encoder>
            <Pattern>%d{"MMM dd, yyyy h:mm:ss a", Europe/Paris} [%thread] %logger%n%-5level: %msg%n%rEx</Pattern>
        </encoder>
    </appender>

    <logger name="com.formation.projet" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
